[submodule "externallibs/code_review"]
	path = externallibs/code_review
	url = https://github.com/teruto725/my-code_review
[submodule "externallibs/code2seq_pytorch"]
	path = externallibs/code2seq_pytorch
	url = git@github.com:teruto725/my-code2seq.git
[submodule "externallibs/src2abs"]
	path = externallibs/src2abs
	url = https://github.com/teruto725/my-src2abs
